body {
    font-family: Arial, sans-serif;
    background-color: #f7e6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 600px;
}
button {
    background-color: #7a42f4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin:10px;
}
button:hover {
    background-color: #551aa8;
}
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
#taskList{
    list-style:none;
}